<h1 class=" jumbotron animated fadeIn fast">Nuestra Historia</h1>
<hr>
<h2 class="animated fadeIn fast">Los Inicios</h2>
<p class="animated fast">En la actual sala de ventas, solo existía un pequeño galpón que cobijo los sueños de crear una gran empresa automotriz.</p>
<hr>
<h2 class="animated fadeIn fast">Consolidación</h2>
<p class="animated fast">La familia creció y con ello el negocio automotriz, llegaron nuevos desafíos y se logra la consolidación del Negocio de la Compra y Venta de Vehículos</p>
<hr>
<h2 class="animated fadeIn fast">El Presente</h2>
<p class="animated fast">La Construcción del sueño está maduro, Automotriz Villalobos, es reconocida por su gran variedad de vehículos disponibles y su servicio pre y post venta.</p>
<hr>
<h2 class="animated fadeIn fast">Desafíos</h2>
<p class="animated fast">Pasaron los años y en 1996 se da la posibilidad de adquirir los terrenos aledaños al galpón y así comienza a crecer el sueño.</p>
<h2 class="animated fadeIn fast">Participación</h2>
<p class="animated fast">Debido al éxito de la empresa Automotriz Villalobos es una de las pocas empresas en Chile, que participa de las XXX, en las Vegas, Nevada, Estados Unidos.</p>
<hr>
<h2 class="animated fadeIn fast">El Futuro</h2>
<p class="animated fast">Seguir creciendo en este sueño, que ha permitido dar alegrías a las familias que son parte de Automotriz Villalobos y a cada un de sus clientes, que se encuentran satisfechos con nuestros vehículos garantizados.</p>
